/* Table Of Content */

/* 1.Section Setting */
/* Nav Bar */
/* 2.Section Carousel */
/* 3.Section Blog */
/* 4.Section Footer */
/* 5.Section Pagetitle */
/* 6.Page Title */
/* 7.Timeline */
/* 8.Star-rating */







/*Section Setting */

body{
    font-family: 'Prompt', sans-serif;
    
}

html, body{
    height: 100%;
}

.bg-alpha{
    background-color: rgba(77, 127, 170, 0.966);
}

.border-short-bottom {
    position: relative;
    padding: 15px 0;
    margin-bottom: 25px;
}

.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #595959;
}



/* Navbar */
#navbar {
    padding: 5px;
    transition: 0.5s;
}


/* 2.Section Carousel */

.carousel, 
.carousel-inner, 
.carousel-item, 
.carousel-item .active{
        height: 100%;
    }

    .carousel-img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .backscreen{
        background: rgba(0, 0, 0, 0.164);
        height: 100%;
    }


/* 3.Section Blog */
    .card{
        border-radius: 15px;
        position: relative;
        overflow: hidden;
    }

    .card-img-top{
        border-radius: 15px 15px 0px 0px 
    }

    .warpper-card-img {
        position: relative;
        overflow: hidden;
    }

    .warpper-card-img::after {
        content: '';
        padding-top: 56.25%;
        display: block;
        height: 0;
    }

    .warpper-card-img img {
        position: absolute;
        top: 0;
        transition: 1.5s;
    }
    .warpper-card-img img:hover {
        transform: scale(1.2)
    }

    .btn-group-custom button{
        width: 100px;
        margin: 0.5rem;

    }


    .blog-content{
        padding: 20px 100px; 
        box-shadow: 0px 0px 10px rgb(189, 189, 189);
    }

    .owl-carousel .card-body{
        height: 150px;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        .blog-content{
            padding: 20px 20px;
        }
    }
    @media (max-width: 991px) {
        .blog-content{
            padding: 20px 20px;
        }
    }





/* Footer */
    .semi-footer{
        background-color: #559B99;
        color: #fff;
        margin-top: 30px;
    }
    .semi-footer a{

        color: #fff;
    }
    .semi-footer h4{
        border-bottom: #fff solid 1px;
        padding: 10px 0;

    }
    .line1{
        border-bottom: #fff solid 1px;
        padding: 5px 0px 5px 0px;
    }
    .margintop-footer{
        margin-top: 15px;

    }

    .col-md-4 iframe{
        border: solid;
        border-radius: 15px;
    }
    .footer{
        background-color: #2e4c61;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }

    /* 6.Page Title */
 
    .page-img{
        padding: 200px 0 200px 0;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
    }

    .img-cover{
        
        height: 500px;
    }


    

    /* 8.Star-rating */

    .star-rating{
        position: relative;
        font-size: 2rem;
        color: rgb(214, 214, 214);
        display: inline-block;

    }
    .star-current{
        position: absolute;
        top: 0;
        width: 20%;
        white-space: nowrap;
        overflow: hidden;
        color: gold;
    }


/* Section Timeline */

.timeline {
    list-style: none;
    position: relative;
    padding: 20px 0;
}

.timeline>li {
    position: relative;
    margin-bottom: 40px;
}

.timeline::before {
    position: absolute;
    content: " ";
    width: 2px;
    background: #e6e6e6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

li>.timeline-badge {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid #84ba3f;
    left: 50%;
    margin-left: -9px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 5px #fff;
    top: 15px;
}

li>.timeline-badge::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 20px;
    width: 25px;
    height: 2px;
    background: #e6e6e6;
}

li.inverted>.timeline-badge::before {
    right: -32px;
}

li>.timeline-badge p {
    width: 200px;
    margin-top: -9px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}

li.inverted>.timeline-badge p {
    float: right;
    text-align: right;
    margin-right: 25px;
}

li>.timeline-card {
    position: relative;
    width: 46%;
    float: left;
    text-align: right;
    padding: 0 10px;
}

li.inverted>.timeline-card {
    float: right;
    text-align: left;
}

.timeline>li::after {
    content: "";
    clear: both;
    display: block;
}

.timeline-arrow {
    width: 100%;
    text-align: center;
    bottom: -70px;
    color: #e6e6e6;
}

@media (max-width: 768px) {
    .timeline::before,
    .timeline-badge {
        left: 40px !important;
    }
    .timeline-badge::before {
        right: -32px !important;
    }
    .timeline-badge p,
    li.inverted>.timeline-badge p {
        margin-left: 50px !important;
        text-align: left;
        float: left;
    }
    li>.timeline-card {
        width: 100%;
        text-align: left;
        padding: 37px 0 0 85px;
    }
    .timeline-arrow {
        text-align: left;
        left: 0;
    }
    .timeline-arrow {
        padding-left: 32px;
    }
}